# Copy this file to .env and fill values before deploying
PORT=3000
JWT_SECRET=replace_this_with_a_strong_random_secret
SMTP_USER=kalapapreeth17@gmail.com
SMTP_PASS=vyuq sdbo nddm nwsy
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
MONGODB_URI=mongodb://localhost:27017/kalpapreeth
